body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url("../afterLogin/images/nature.jpg");
    text-align: center;
}

/* Split the screen in half */
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    text-align: center;
}

/* Control the left side */
.left {
    left: 0;
    background-color: rgba(194, 215, 175, 0.95);
    color: rgba(34, 50, 19, 0.95);
    width: 25%;
    height: 80%;
    position: absolute;
    top: 10%;
    left: 15%;
}

/* Control the right side */
.right {
    right: 0;
    background-color: rgba(163, 196, 131, 0.95);
    color: rgba(34, 50, 19, 0.95);
    width: 25%;
    height: 80%;
    top: 10%;
    left: 55%;
}

/* If you want the content centered horizontally and vertically */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
    width: 150px;
    border-radius: 50%;
}