body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #0d575e;
    text-align: center;
}

.column1 {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 500px;
    background-image: linear-gradient(to right, rgba(194, 215, 175, 1), rgba(183, 210, 150, 1));
}

/* Split the screen in half */
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

/* Control the left side */
.left {
    left: 0;
    background-color: rgba(194, 215, 175, 0.95);
    color: rgba(34, 50, 19, 0.95);
}

/* Control the right side */
.right {
    right: 0;
    background-color: rgba(163, 196, 131, 0.95);
    color: rgba(34, 50, 19, 0.95);
}

/* If you want the content centered horizontally and vertically */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
    width: 150px;
    border-radius: 50%;
}