* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("images/nature.jpg");
    background-size: cover; /* Resize the background image to cover the entire container */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

/* Style the header */
.header1 {
    text-align: center;
    font-size: 30px;
    font-family:Gilbert, sans-serif;
}
.header2 {
    text-align: center;
    font-size: 50px;
    font-family: 'Brush Script MT', cursive;
    color: rgba(255, 250, 0, 0.76);
}

/* Create three equal columns that floats next to each other */
.column1 {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 500px;
    background-image: linear-gradient(to right, rgba(194, 215, 175, 1), rgba(183, 210, 150, 1));
}
.column2 {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 500px;
    background-image: linear-gradient(to right, rgba(183, 210, 150, 1), rgba(163, 196, 131, 1));
}
.column3 {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 500px;
    background-image: linear-gradient(to right, rgba(163, 196, 131, 1), rgba(153, 205, 173, 1));
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.row{
    text-align: center;
}

/* Style the footer */
.footer {
    padding: 10px;
    height: 50px;
}

/*Style the buttons*/
.button1 {
    background-color: rgba(150, 200, 150, 0.95);
    border: none;
    border-radius: 12px;
    color: white;
    padding: 7px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.2s;
    width: 300px;

}

.button1:hover {
    background-color: rgba(153, 205, 173, 1);
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button2 {
    background-color: rgba(110, 170, 150, 1);
    border: none;
    border-radius: 12px;
    color: white;
    padding: 7px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.2s;
    width: 300px;
}

.button2:hover {
    background-color: rgba(163,196,131,0.95);
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button3 {
    background-color: rgba(100, 160, 110, 0.95);
    border: none;
    border-radius: 12px;
    color: white;
    padding: 7px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.2s;
    width: 300px;
}

.button3:hover {
    background-color: rgba(194,215,175,0.95);
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button4 {
    background-color: rgba(150, 200, 150, 0.95);
    border: none;
    border-radius: 12px;
    color: white;
    padding: 7px 14px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition-duration: 0.2s;
    margin-top: 0px;
    float: right;
    width: 100px;
    text-align: center;
}

.button4:hover {
    background-color: rgba(153, 205, 173, 1);
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column {
        width: 100%;
    }
}