#map {
    height: 80%;
    width: 98%;
    color: #000000;
    margin-left: auto;
    margin-right: auto;
}

html, body {
    background-image: url("../../images/nature.jpg");
    background-size: cover; /* Resize the background image to cover the entire container */
    height: 100%;
    margin: 0px;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

/*info window*/
.gm-style .gm-style-iw {
    font-size: 14px;
    font-family: sans-serif;
}

#eventOrigin, distanceBox, textarea {
    width: 20%;
    height: 5%;
    border-radius: 20px;
    margin-left: 20px;
    background-color: rgba(100, 160, 110, 0.95);
    color: white;
    font-size: 20px;
    box-shadow: none;
    resize: none;
}

#distanceBox {
    width: 20%;
    height: 5%;
    border-radius: 20px;
    margin-left: 20px;
    background-color: rgba(100, 160, 110, 0.95);
    color: white;
    font-size: 20px;
    box-shadow: none;
    resize: none;
}

textarea {
    /*padding: 30px;*/
}

#floating-panel {
    float: right;
    color: white;
    font-size: 20px;
    margin-right: 20px;
}

#mode {
    color: white;
    font-size: 20px;
    border-radius: 20px;
    background-color: rgba(100, 160, 110, 0.95);
}

/*#clearMapButton{*/
/*    float: right;*/
/*    color: black;*/
/*    background-color: #a2d9e5;*/
/*    font-size: 20px;*/
/*    margin-right: 20px;*/
/*}*/

#clearMapButton {
    background-color: rgba(100, 160, 110, 0.95);
    border: none;
    width: 20%;
    height: 5%;
    border-radius: 20px;
    color: white;
    padding: 7px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.2s;
    margin-left: 20px;
}

#clearMapButton:hover {
    background-color: rgba(194, 215, 175, 0.95);
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}